@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import url(https://fonts.googleapis.com/css?family=Raleway:400,300);

.promptpay{
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

.content{
    font-family: 'Raleway', sans-serif;
    position: relative;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-image: url("../../../assets/images/backg.jpg");
    background-size: cover;
}

#icon{
    width:25%;
}

.card {
    max-width: 350px;
}

h3{
    margin: 10px 15px;
}

table, tr, td {
    width: 60%;
    text-align: center;
    font-size: 14px;
    margin: auto;
}

select {
    border-radius: 4px 4px 4px 4px; 
    width: 90%;
    text-align: center;
    font-size: 13px;
    margin: 5px 0px 5px 0px;
    padding: 8px;
    font-family: 'Raleway', sans-serif;
    outline-color:  #4C2E86;
    border: 1px solid #CF82E0;
}

input[type=text] {
    border-radius: 4px 4px 4px 4px; 
    width: 90%;
    text-align: center;
    font-size: 13px;
    margin: 5px 0px 5px 0px;
    padding: 8px;
    font-family: 'Raleway', sans-serif;
    outline-color:  #4C2E86;
    border: 1px solid #CF82E0;
}

.bttranparent{
    font-family: "Raleway", sans-serif;
    font-size: 14px;
    background: linear-gradient(to bottom right, #4C2E86, #CF82E0);
    color: #fff;
    padding: 8px 44px;
    border-radius: 17px;
    border: none;
    outline: none;
    margin-top: 3px;
    margin-bottom: 17px;
    box-shadow: 1px 3px 6px 0 rgba(0,0,0,0.6);
}

.bttranparent:hover {
    font-family: "Raleway", sans-serif;
    font-size: 14px;
    background: linear-gradient(to bottom right, #4C2E75, rgb(145, 0, 158));
    color: #fff;
    padding: 8px 44px;
    border-radius: 17px;
    border: none;
    outline: none;
    margin-top: 3px;
    margin-bottom: 17px;
    box-shadow: 1px 3px 6px 0 rgba(0,0,0,0.6);
}

.p{
    color: red;
    font-size: 12px;
    font-family: "Raleway", sans-serif;
}