<div class="promptpay" align="center">
  <app-headerbar></app-headerbar>
  <div class="content">
    <app-button></app-button>
    <br>
    <br>
    <mat-card class="card">
      <mat-card-header>
        <h3>Transfer by PromptPay</h3>
      </mat-card-header>
      <mat-card-content>
        <br>
        <p>
          <img src="../../../assets/images/bitcoin.png" id="icon" />
        </p>
        <table>
          <tbody>
            <tr>
              <td>
                <select (change)="getAccountFromUI($event.target.value)" name="act">
                  <option *ngFor="let accounts of account">{{accounts.accountId}}</option>
                </select>
              </td>
            </tr>
            <tr>
              <td>
                <input type="radio" [(ngModel)]="type" [value]="true" name="type" /> Mobile
                <input type="radio" [(ngModel)]="type" [value]="false" name="type" /> ID Card
              </td>
            </tr>
            <tr>
              <td>
                <div *ngIf="!type">
                  <input type="text" [(ngModel)]="citizen" maxlength="13" name="idcard" placeholder="ID Card" required #idc="ngModel"/>
                  <div *ngIf="idc.invalid && idc.touched">
                    <p class="p">*Id card required. </p>
                  </div>
                </div>
                <div *ngIf="type">
                  <input type="text" [(ngModel)]="mobile" maxlength="10" name="mobile" placeholder="Mobile" required #mb="ngModel"/>
                  <div *ngIf="mb.invalid && mb.touched">
                    <p class="p">*Mobile required. </p>
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <input type="text" [(ngModel)]="amount" name="amount" placeholder="Balance Amount" required #am="ngModel" />
                <div *ngIf="am.invalid && am.touched">
                  <p class="p">* Amount required. </p>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </mat-card-content>
      <mat-card-actions>
        <button class="bttranparent" (click)="promptPay()" mat-button>Next</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>