@import url(https://fonts.googleapis.com/css?family=Raleway:400,300);

.home{
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

.home_detail{
    position: relative;
    top: 0;
    right: 0;
    width: 100%;
    height: 101%;
    background-image: url("../../../assets/images/backg.jpg");
    background-size: cover;
}

.content{
    position: relative;
    top: 0;
    right: 0;
}

.image{
    border-radius: 10px;
    width: 20vw;
    margin-left: 9.5vw;
    background: url('../../../assets/images/SCBcard.png')
}

#a{
    position: relative;
    top: 0;
    text-decoration-line: none
}

#account{
    position: relative;
    top: -5.5vw;
    left: 11.5vw;
    font-size: 0.9vw;
    color: white;
    font-family: 'Raleway', sans-serif;
}

#amount{
    position: relative;
    top: -7.8vw;
    left: 15vw;
    font-size: 0.9vw;
    color: white;
    font-family: 'Raleway', sans-serif;
}

.swiper-slide{
    margin: 1vw;
    -webkit-flex-shrink: 0;
    flex-shrink: 0;
    height: 15vw;
    position: relative;
}

#promptpay{
    width: 85%;
    margin-top: 5px;
}

.w3-input{
    width: 20vw;
    font-family: 'Raleway', sans-serif;
    margin: 2vw
}

.table-responsive {
    margin: auto;
    width: 95%;
    padding: 0;
    font-size: 14px;
    border-radius: 8px;
    font-family: 'Raleway', sans-serif;
}

.table-responsive th {
    background-color: rgb(126, 94, 193);
    color: white;
    border: 1px solid #673ab7;
    font-family: 'Raleway', sans-serif;
}

.table-responsive tr {
    /* background-color: #fcdafd; */
    color: black;   
    font-family: 'Raleway', sans-serif;
}

.table-responsive tr td {
    padding: 10px;
    border: 1px solid #673ab7;
    font-family: 'Raleway', sans-serif;
}