<div class="home">
    <app-headerbar></app-headerbar>
    <div class="home_detail">
        <app-button></app-button>
        <div class="content">
            <br>
            <div class="row">
                <div class="col-md-6">
                    <mat-card class="card_1">
                        <mat-card-content>
                            <br>
                            <div class="w3-row-padding">
                                <swiper [config]="config">
                                    <div class="swiper-wrapper">
                                        <div class="swiper-slide" *ngFor="let accounts of account">
                                            <div class="w3-col s3 w3-container">
                                                <div class="w3-hover-opacity" (click)="cardInfo(accounts.accountId)">
                                                    <img class="image" src="../../../assets/images/SCBcard.png">
                                                    <span id="account">{{accounts.accountId}}</span>
                                                    <span id="amount">{{accounts.balanceAmount}}฿</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Add Pagination -->
                                    <div class="swiper-pagination-white"></div>

                                    <!-- Add Arrows -->
                                    <div class="swiper-button-next"></div>
                                    <div class="swiper-button-prev"></div>
                                </swiper>
                            </div>
                        </mat-card-content>
                    </mat-card>
                </div>
                <div class="col-md-6" align="center">
                    <img id="promptpay" src="../../../assets/images/promptpay-scb.jpg" />
                </div>
            </div>
            <br>
            <div *ngIf="acountStatement" class="table-responsive">
                <table class="table" align="center">
                    <tr>
                        <th>Type</th>
                        <th>Amount</th>
                        <th>Date</th>
                    </tr>
                    <tr *ngFor="let statement of acountIdStatement">
                        <td>{{ statement.txnType }}</td>
                        <td>{{ statement.netAmount }} Baht</td>
                        <td>{{ statement.createDtm }}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>