<div class="w3-bar-item w3-deep-purple" id="content" align="center">
  <button class="w3-bar-item w3-button w3-hover-amber" id="home" (click)="home()">Home</button>
  <div class="w3-dropdown-hover">
    <button class="w3-bar-item w3-button w3-hover-amber" id="transfer">Transfer</button>
    <div class="w3-dropdown-content w3-bar-block w3-card-4">
      <a href="/transfer" class="w3-bar-item w3-button w3-hover-amber">Account</a>
      <a href="/promptpay" class="w3-bar-item w3-button w3-hover-amber">PromptPay</a>
    </div>
  </div>
  <button class="w3-bar-item w3-button w3-hover-amber" id="register" (click)="register()">Register</button>
  <button class="w3-bar-item w3-button w3-hover-amber" id="unregis" (click)="unregister()">Unregister</button>
  <img id="setting" src="../../../assets/images/settings.png" (click)="logout()"/>
</div>