#content{
    box-shadow: 1px 3px 6px 0 rgba(0,0,0,0.6);
}

#home{
    background: #673ab7;
    color: white;
}

#transfer{
    background: #673ab7;
    color: white;
}

#register{
    background: #673ab7;
    color: white;
}

.w3-button{
    padding: 1.4vw;
    font-family: 'Raleway', sans-serif;
    outline: none;
}

#setting{
    position: absolute;
    right: 0;
    width: 1.6vw;
    margin: 1.4vw;
}

#homeclick{
    color: #fcaf17;
    font-weight: bold;
}
