@import url(https://fonts.googleapis.com/css?family=Raleway:400,300);

.list-group{
    width: 50vw
}

button{
    width: 10vw;
    border-radius: 2px; 
    outline: none;
    color: white;
    font-family: 'Raleway', sans-serif;
}

button:hover{
    width: 10vw;
    border-radius: 2px; 
    outline: none;
    background: powderblue;
    color: black;
    font-family: 'Raleway', sans-serif;
}

#confirm{
    background: #007bff;
}