<div class="transfer" align="center">
  <app-headerbar></app-headerbar>
  <div class="content">
    <app-button></app-button>
    <br>
    <div>
    <ul class="list-group">
      <li class="list-group-item" id="confirm">Confirm</li>
      <li class="list-group-item">{{storage.get("account")[0].name}} :  {{storage.get("select")}}</li>
      <li class="list-group-item">{{storage.get("nameReceive")}} : {{storage.get("receive")}}</li>
      <li class="list-group-item">Amount : {{storage.get("amount")}} ฿</li>
    </ul>
    <br>
    <button type="button" (click)="confirm()" class="list-group-item list-group-item-action active">
      Submit
    </button>
    </div>
    <br>
  </div>
</div>