<!--component html goes here -->
<div class="banner" align="center">
  <app-headerbar></app-headerbar>

  <div class="register">
    <app-button></app-button>
    <label>
      <span style="color: #4C2E86">SCB</span>
      <span style="color: #ffc000"> PromptPay</span>
    </label>
    <div id="formContent">
      <h1>Register</h1>
      <p></p>
      <p>
        <img src="../../assets/images/credit-card.png" id="icon" alt="User Icon" />
      </p>
      <table>
        <tbody>
          <tr>
            <td>
              <select (change)="getAccountFromUI($event.target.value)" name="act">
                <option *ngFor="let accounts of account">{{accounts.accountId}}</option>
              </select>
              <!-- <input type="text" name="account" placeholder="Account ID" /> -->
            </td>
          </tr>
          <tr>
            <td>
              <input type="radio" [(ngModel)]="type" [value]="true" name="type" /> Mobile
              <input type="radio" [(ngModel)]="type" [value]="false" name="type" /> ID Card</td>
          </tr>
          <tr>
            <td>
              <div *ngIf="!type">
                <input numberformat type="text" [(ngModel)]="citizen" maxlength="13" name="idcard" placeholder="ID Card" />
              </div>
              <div *ngIf="type">
                <input numberformat type="text" [(ngModel)]="mobile" maxlength="10" name="mobile" placeholder="Mobile" />
              </div>
            </td>
          </tr>
        </tbody>
      </table>
      <p id="mgserr">{{mgs.err}}</p>
      <div id="footage">
        <button class="bttranparent" (click)="register()">Submit</button>
      </div>
    </div>
  </div>
</div>