<div class="transfer" align="center">
  <app-headerbar></app-headerbar>
  <div class="content">
    <app-button></app-button>
    <br>
    <br>
    <mat-card class="card">
      <mat-card-header>
        <h3>Transfer</h3>
      </mat-card-header>
      <mat-card-content>
        <br>
        <p>
          <img src="../../../assets/images/bitcoin.png" id="icon" />
        </p>
        <table>
          <tbody>
            <tr>
              <td>
                <select (change)="getAccountFromUI($event.target.value)" name="act">
                  <option *ngFor="let accounts of account">{{accounts.accountId}}</option>
                </select>
              </td>
            </tr>
            <tr>
              <td>
                <input type="text" [(ngModel)]="receive" name="receive" placeholder="Account Receive" required #rec="ngModel" />
                <div *ngIf="rec.invalid && rec.touched">
                  <p>*Account required. </p>
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <input type="text" [(ngModel)]="amount" name="amount" placeholder="Balance Amount" required #am ="ngModel"/>
                <div *ngIf="am.invalid && am.touched">
                  <p>*Amount required. </p>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </mat-card-content>
      <mat-card-actions>
        <button class="bttranparent" (click)="transfer()" [disabled]="rec.invalid || am.invalid" mat-button>Next</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>