@import url(https://fonts.googleapis.com/css?family=Raleway:400,300);

.unregister{
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

.content{
    position: relative;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-image: url("../../../assets/images/backg.jpg");
    background-size: cover;
}

label {
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    text-shadow: 2px 2px 5px black;
    font-size: 4vw;
    position: relative;
    top: 2vw;
}

#icon{
    width:25%;
}

#formContent {
    margin: auto;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    background: #fff;
    width: 60%;
    max-width: 350px;
    position: relative;
    padding: 0px;
    -webkit-box-shadow: 0 30px 60px 0 rgba(0,0,0,0.64);
    box-shadow: 0 30px 60px 0 rgba(0,0,0,0.64);
    font-family: "Raleway", sans-serif;
    font-weight: 400;
  }

#footage {
    margin: auto;
    padding: 15px;
}

h1 {
    padding-top: 30px;
    background-color: transparent;
    font-family: "Raleway", sans-serif;
    font-weight: 600;
    font-size: 20px;
    text-transform: uppercase;
    margin: 4vw 8px 10px 8px; 
}

table, tr, td {
    width: 60%;
    text-align: center;
    font-size: 14px;
    margin: auto;
}

p#mgserr{
    margin: 10px;
    color: red;
    font-size: 12px;
}

input[type=text] {
    border-radius: 4px 4px 4px 4px; 
    width: 90%;
    text-align: center;
    font-size: 13px;
    margin: 5px 0px 5px 0px;
    padding: 8px;
    font-family: 'Raleway', sans-serif;
    outline-color:  #4C2E86;
    border: 1px solid #CF82E0;
  }

select {
    border-radius: 4px 4px 4px 4px; 
    width: 90%;
    text-align: center;
    font-size: 13px;
    margin: 5px 0px 5px 0px;
    padding: 8px;
    font-family: 'Raleway', sans-serif;
    outline-color:  #4C2E86;
    border: 1px solid #CF82E0;
}

.unregis{
    font-family: "Raleway", sans-serif;
    font-size: 14px;
    background: linear-gradient(to bottom right, #4C2E86, #CF82E0);
    color: #fff;
    padding: 8px 44px;
    border-radius: 17px;
    border: none;
    outline: none;
    margin-top: 3px;
    margin-bottom: 17px;
    box-shadow: 1px 3px 6px 0 rgba(0,0,0,0.6);
}

.unregis:hover {
    font-family: "Raleway", sans-serif;
    font-size: 14px;
    background: linear-gradient(to bottom right, #4C2E75, rgb(145, 0, 158));
    color: #fff;
    padding: 8px 44px;
    border-radius: 17px;
    border: none;
    outline: none;
    margin-top: 3px;
    margin-bottom: 17px;
    box-shadow: 1px 3px 6px 0 rgba(0,0,0,0.6);
}