<!--component html goes here -->
<div class="unregister" align="center">
    <app-headerbar></app-headerbar>
    <div class="content">
      <app-button></app-button>
      <label>
        <span style="color: #4C2E86">SCB</span>
        <span style="color: #ffc000"> PromptPay</span>
      </label>
      <div id="formContent">
        <h1>Unregister</h1>
        <p></p>
        <p>
          <img src="../../assets/images/credit-card.png" id="icon" alt="User Icon" />
        </p>
        <table>
          <tbody>
            <tr>
              <td>
                <input type="radio" [(ngModel)]="type" [value]="true" name="type" /> Mobile
                <input type="radio" [(ngModel)]="type" [value]="false" name="type" /> ID Card</td>
            </tr>
            <tr>
              <td>
                <div *ngIf="!type">
                  <input numberformat type="text" [(ngModel)]="citizen" maxlength="13" name="idcard" placeholder="ID Card" />
                </div>
                <div *ngIf="type">
                  <input numberformat type="text" [(ngModel)]="mobile" maxlength="10" name="mobile" placeholder="Mobile" />
                </div>
              </td>
            </tr>
          </tbody>
        </table>
        <div id="footage">
          <button class="unregis" (click)="unregister()">Submit</button>
        </div>
      </div>
    </div>
  </div>