<div class="login">
  <div id="margin">
    <label>Welcome to </label>
    <img id="scbimg" src="../../../assets/images/Logo_SCB.png" />
    <br/>
    <div id="formContent">
      <img id="user" src="../../../assets/images/man-user.png" />
      <h3>Login</h3>
      <input type="text" [(ngModel)]="user" maxlength="20" name="user" placeholder="User name" required #uname="ngModel" />
      <div *ngIf="uname.invalid && uname.touched">
        <p>*Username required. </p>
      </div>
      <input type="password" [(ngModel)]="pwd" maxlength="50" name="pwd" placeholder="Password" required #pass="ngModel" />
      <div *ngIf="pass.invalid && pass.touched">
        <p>*Password required. </p>
      </div>
      <div id="footage">
        <button class="bttranparent" (click)="login()" [disabled]="uname.invalid || pass.invalid">submit</button>
      </div>
    </div>
    <span></span>
  </div>
</div>