@import url(https://fonts.googleapis.com/css?family=Raleway:400,300);

.login{
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-image: url('../../../assets/images/back.jpg')
}

#margin{
    position: fixed;
    top: 5%;
    right: 0;
    width: 100%;
    height: 100%;
}

label {
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    color: white;
    text-shadow: 2px 2px 5px black;
    font-size: 5vw;
    position: absolute;
    top: 0.5vw;
    left: 22%;
}

#scbimg{
    width: 35%;
    margin-left: 1%;
    position: absolute;
    top: 0;
    left: 39%;
}

input {
    border-radius: 4px 4px 4px 4px; 
    width: 60%;
    text-align: center;
    font-size: 13px;
    margin: 3px 0px 20px 0px;
    padding: 8px;
    font-family: 'Raleway', sans-serif;
    outline-color:  #4C2E86;
    border: 1px solid #CF82E0;
}

#user{
    background: rgb(210, 133, 222);
    border-radius: 50%;
    padding: 5%;
    width: 25%;
    margin: 20px 0px 0px 0px;
    box-shadow: 1px 3px 6px 0 rgba(0,0,0,0.6);
}

#formContent {
    font-family: 'Raleway', sans-serif;
    position: relative;
    top: 0;
    left: 0;
    text-align: center;
    margin: 13vw auto;
    -webkit-border-radius: 2px 2px 2px 2px;
    border-radius: 2px 2px 2px 2px;
    background: #fff;
    width: 60%;
    max-width: 270px;
    padding: 1px 0px 5px 0px;
    -webkit-box-shadow: 0 30px 60px 0 rgba(0,0,0,0.64);
    box-shadow: 0 30px 60px 0 rgba(0,0,0,0.64);
}

.bttranparent{
    font-family: "Raleway", sans-serif;
    font-size: 14px;
    background: linear-gradient(to bottom right, #4C2E86, #CF82E0);
    color: #fff;
    padding: 8px 20px;
    border-radius: 17px;
    border: none;
    outline: none;
    margin-top: 3px;
    margin-bottom: 17px;
    box-shadow: 1px 3px 6px 0 rgba(0,0,0,0.6);
}

.bttranparent:hover {
    font-family: "Raleway", sans-serif;
    font-size: 14px;
    background: linear-gradient(to bottom right, #4C2E75, rgb(145, 0, 158));
    color: #fff;
    padding: 8px 20px;
    border-radius: 17px;
    border: none;
    outline: none;
    margin-top: 3px;
    margin-bottom: 17px;
    box-shadow: 1px 3px 6px 0 rgba(0,0,0,0.6);
}

p{
    color: red;
    font-size: 12px;
}